{#- templates/index.html #}
<!DOCTYPE html>
<html>
  <head>
    <title>Armbian Mirror in {{ this_mirror.location }}</title>
  </head>
  <style>
    table { border: 1px solid #999; }
    th, td { padding: 5px; }
  </style>
  <body style="text-align: center;">
    <a href="https://armbian.com"><img src="armbian-logo.png"></a>
    <h1>Armbian Mirror</h1>
    <p>This is mirror containing various Armbian components.</p>
    <br>
    <table style="margin: 0 auto; text-align: left;">
      <tr>
        <td><strong>Location</strong></th>
        <td>{{ this_mirror.location }}</td>
      </tr>
      <tr>
        <td><strong>Bandwidth</strong></th>
        <td>{{ this_mirror.bandwidth }}</td>
      </tr>
      {%- for repository in this_mirror.repositories %}
      <tr>
        <td><strong>{{ repository.type | capitalize }}</strong></td>
        <td><a href="{{ repository.url }}">{{ repository.url }}</a></td>
      </tr>
      {%- endfor %}
      <tr>
        <td><strong>Last Sync</strong></td>
        <td>{{ last_sync }}</td>
      </tr>
      <tr>
        <td><strong>Status</strong></td>
        <td>{{ "Current" if last_sync else "Pending" }}</td>
      </tr>
      {%- if this_mirror.status_detail %}
      <tr>
        <td><strong>Status Detail</strong></td>
        <td>
          This mirror is synchronized with the main Armbian repository.
          It was last synchronized on 2021-03-31 at 00:00:00 UTC.
        </td>
      </tr>
      {% endif %}
    </table>
    <br>
    <p>
      <div style="margin-bottom: 10px;">
        Hosted by:
      </div>
      <a href="http://airframes.io"><img src="https://app.airframes.io/logotype-bw.svg"></a>
    </p>
    {%- if our_mirrors|selectattr('enabled', 'equalto', true)|list|length > 0 %}
    <h2>Other Armbian mirrors hosted by Airframes:</h2>
    {%- for mirror in our_mirrors %}
    {%- if mirror.enabled %}
    <p>
      <a href="{{ mirror.url }}">{{ mirror.location }}</a>
      ({{ mirror.repositories|selectattr('type')|map(attribute='type')|join(', ') }})
    </p>
    {%- endif %}
    {%- endfor %}
    {%- endif %}
  </body>
</html>
